if site.tags.length
  .card-widget.card-tags
    .card-content
      .item-headline
        i.fa.fa-tags(aria-hidden="true")
        span= _p('aside.card_tags')
      .card-tag-cloud!= tagcloud({min_font: 16, max_font: 24, amount: 20, color: true, start_color: '#036564', end_color: '#e11111'})
