//https://www.tencent.com/zh-cn/index.html
if is_home()
    .descript_area
        p.txt
            | 欢迎来到我的博客——别院牧志！
            br
            span.pc
            | 别院，忙里偷闲，悠然自得；
            br
            span.m
            | 牧志，谦谦君子，卑以自牧。
            br
            span.pc
            | 深深别院，潜潜牧志。